extend layout

block content
  p.intro Welcome to a world of chaos, space and wormholes.

  h1 NoodleRPG
  
  #ship
    if !session.email
      .message
        p Log into your ship now!
      form(method='post', action='/login', id='login-form')
        a(href='#', id='login') Sign in
        input(type='hidden', name='bid_assertion', value='1')

  if session.email
    p You are logged in!