extend layout

block content
  p.intro= title

  h1 Available Jobs

  ul.jobs
    li(data-job='engineer')
      img(src='/jobs/engineer-alive.png')
      span Be an Engineer!
    li(data-job='technician')
      img(src='/jobs/technician-alive.png')
      span Be a Technician!

  #ship
    .message
      p Return to homebase!
    a(href='/dashboard') Dashboard
