extend layout

block content
  .levels
    - for (var i = 1; i < parseInt(session.level, 10) + 1; i ++) {
      a(href='/preview/#{i}')
        img(src='/scenes/level#{i}.png')
        span Level #{i}
    - }

  #ship
    .message
      p Return to homebase!
    a(href='/dashboard') Dashboard
