/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CPMono_v07Plain';
    src: url('../fonts/CPMono_v07_Plain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CabinSketchRegular';
    src: url('../fonts/CabinSketch-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #111;
    font-family: 'CPMono_v07Plain';
    padding-top: 20px;
}

.wrapper {
    background-image: url('/scenes/default.jpg');
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: inset #090909 0px 0px 25px;
    height: 580px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    width: 780px;
}

#header {
    clear: both;
    float: left;
    height: 20px;
    width: 780px;
}

#header .logo {
    background-image: url('/logo.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

#login {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 115px;
    height: 132px;
    text-indent: -9999px;
    overflow: hidden;
}

h1 {
    font-family: 'CabinSketchRegular';
    font-size: 100px;
    text-align: center;
    margin-top: 60px;
    color: #eee;
    text-shadow: #111 1px 1px 5px;
}

p.intro, .game h1, .dashboard h1, .store h1 {
    background-color: #00789f;
    margin-top: 80px;
    font-size: 13px;
    font-family: 'CPMono_v07Plain';
    text-align: center;
    padding: 5px;
    color: #eee;
    text-shadow: #111 1px 1px 3px;
}

.game h1, .dashboard h1, .store h1 {
    float: right;
    margin-top: -15px;
}

.message {
    background-image: url('/items/ship-message.png');
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    position: absolute;
    left: -290px;
    top: -190px;
    display: none;
}

.message p {
    font-family: 'LeagueGothicRegular';
    font-size: 35px;
    text-transform: uppercase;
    position: absolute;
    top: 60px;
    left: 45px;
    width: 180px;
    text-align: center;
    color: #5d8883;
}

.store .wrapper {
    background-image: url('/scenes/store.jpg');
}

.store .items {
    display: block;
    float: left;
    height: 320px;
    margin: 20px;
    overflow: auto;
    width: 740px;
}

.store .items li {
    float: left;
    margin: 20px 11px 20px 11px;
    position: relative;
}

.store .items li span, .detail .tools li span {
    display: block;
    font-family: 'LeagueGothicRegular';
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    text-shadow: #eaae65 1px 1px 1px;
    text-transform: uppercase;
    width: 100%;
}

.store .items li:hover {
    border: 10px solid #fff;
}

.store .items li.disabled {
    background-image: url('/tools/disabled.png');
    background-repeat: no-repeat;
    background-position: -72px;
    border: 4px solid #f00;
}

.store .items li.disabled img {
    opacity: 0.3;
}

.store .items li.disabled span {
    color: #f00;
}

.store .items li.disabled:hover {
    border: 4px solid #f00;
    opacity: 0.7;
}

.store .items .requirements {
    display: none;
    background-color: #fff;
    padding: 5px;
    width: 100px;
    font-size: 11px;
    line-height: 14px;
    border-radius: 5px;
    box-shadow: #111 2px 2px 0px;
    float: left;
    position: absolute;
    margin-top: 10px;
    margin-left: -20px;
    z-index: 2;
}

.store .items li:hover .requirements {
    display: block;
}

.store .items .requirements ol li {
    border: 0px;
    font-weight: bold;
    width: auto;
    height: auto;
    border-radius: 0;
    margin: 0;
}

.store .items li:hover img {
    opacity: 0.1;
}

.store .items li:hover span {
    color: #fff;
    text-shadow: #111 1px 1px 0px;
}

.store .items li span.cost {
    color: #111;
    display: none;
    font-size: 27px;
    margin-bottom: 25px;
    margin-top: -45px;
    text-shadow: #fff 1px 1px 0px;
}

.store .items li:hover span.cost {
    display: block;
}

.store .stats {
    background-color: #111;
    display: block;
    color: #ccc;
    left: 17px;
    padding: 0px 10px 10px 10px;
    position: absolute;
    top: 500px;
    width: auto;
}

.store .stats h3 {
    width: 200px;
}

#ship > a {
    display: block;
    width: 115px;
    height: 132px;
    text-indent: -9999px;
}

#ship {
    background-image: url('/items/ship.png');
    background-repeat: no-repeat;
    border-radius: 70px;
    cursor: pointer;
    position: absolute;
    left: 650px;
    top: 450px;
    width: 115px;
    height: 132px;
}

#ship:hover,
.game .planet:hover,
.jobs li:hover {
    box-shadow: inset #2ec9f6 0px 0px 20px;
}

.game .planet:hover,
.jobs li:hover {
    cursor: pointer;
    border-radius: 120px;
}

#ship:hover .message {
    display: block;
}

.game .planet {
    display: block;
    position: absolute;
    left: 85px;
    top: 70px;
    width: 234px;
    height: 234px;
}

.dashboard .wrapper {
    background-image: url('/scenes/dashboard.jpg');
}

.dashboard .stats {
    position: absolute;
    color: #eee;
    left: 50px;
    top: 105px;
    font-size: 18px;
    width: 480px;
    height: 445px;
    overflow: auto;
    text-shadow: #000 1px 1px 1px;
}

.stats li {
    margin-top: 15px;
}

.stats li h3 {
    float: left;
    width: 110px;
}

a.button {
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: 'LeagueGothicRegular';
    background-color: #16687f;
    padding: 2px 8px 2px 8px;
    text-transform: uppercase;
    margin-left: 10px;
    text-shadow: none;
}

a.button:hover {
    color: #16687f;
    background-color: #fff;
}

#start-over span {
    font-size: 13px;
}

.jobs {
    margin-top: 20px;
}

.jobs li {
    float: left;
    margin-left: 10px;
    position: relative;
}

.jobs li span {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 2px;
    width: auto;
    background-color: #feed30;
}

p.battle-message {
    background-color: #111;
    font-family: 'CabinSketchRegular';
    color: #eee;
    padding: 5px;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 50px;
    max-width: 400px;
}

ol.stats {
    display: block;
    position: absolute;
    right: 10px;
    top: 50px;
    width: 200px;
    background-color: #111;
    color: #eee;
    padding: 0px 10px 10px 10px;
}

ol.stats li {
    margin-top: 5px;
}

ol.stats span {
    padding-left: 15px;
    font-size: 20px;
}

img.enemy, img.player {
    padding: 5px;
}

img.enemy {
    position: absolute;
    top: 130px;
    left: 230px;
}

img.player {
    position: absolute;
    top: 130px;
    left: 10px;
}

img.enemy.dead, img.player.dead {
    border-radius: 100px;
    box-shadow: inset #f00 0px 0px 30px;
}

img.action {
    position: absolute;
    top: 40px;
    left: 30px;
    display: none;
}

ol.tools {
    background-image: url('/misc/tool-dash.png');
    padding: 15px 15px 5px 0px;
    display: block;
    border-radius: 8px;
    position: absolute;
    top: 400px;
    left: 10px;
    box-shadow: inset #000 1px 1px 5px;
    border: 1px solid #111;
}

ol.tools li {
    float: left;
    margin: 0px 0px 30px 10px;
}

ol.tools li, .store .items li {
    border: 4px solid #111;
    border-radius: 40px;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.detail ol.tools li span {
    text-shadow: #eee 0px 0px 3px;
}

.detail ol.tools li:hover span {
    color: #fff;
    text-shadow: none;
}

ol.tools li:hover, .store .items li:hover {
    border: 4px solid #fff;
}

a.fight-again {
    display: none;
    position: absolute;
    left: 200px;
    top: 70px;
    font-size: 28px;
    background-color: #fff;
    box-shadow: #111 3px 3px 1px;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
    color: #111;
}

a.fight-again:hover {
    background-color: #111;
    color: #fff;
}

.jobs li:hover span {
    display: block;
}

.universe .wrapper {
    background-image: url('/scenes/universe.jpg');
}

.universe .levels {
    padding-top: 20px;
    float: left;
    display: block;
}

.universe .levels a {
    display: block;
    float: left;
    margin: 10px;
    position: relative;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    box-shadow: inset #444 0px 0px 30px;
    text-decoration: none;
    outline: none;
}

.universe .levels a span {
    color: #eee;
    text-decoration: none;
    display: none;
    font-size: 12px;
    background-color: #111;
    position: absolute;
    bottom: 0px;
}

.universe .levels a:hover img {
    opacity: 1.0;
}

.universe .levels a:hover span {
    display: block;
}

.universe .levels img {
    opacity: 0.6;
    position: absolute;
    left: 5px;
    top: 5px;
}

.level1 .wrapper {
    background-image: url('/locations/level1-preview.jpg');
}

.level1.detail .wrapper {
    background-image: url('/locations/level1-detail.jpg');
}

.level2 .wrapper {
    background-image: url('/locations/level2-preview.jpg');
}

.level2.detail .wrapper {
    background-image: url('/locations/level2-detail.jpg');
}

.level3 .wrapper {
    background-image: url('/locations/level3-preview.jpg');
}

.level3.detail .wrapper {
    background-image: url('/locations/level3-detail.jpg');
}

.level4 .wrapper {
    background-image: url('/locations/level4-preview.jpg');
}

.level4.detail .wrapper {
    background-image: url('/locations/level4-detail.jpg');
}
